.section {
  padding-top: 8rem;
  padding-bottom: 8rem;
}

.section__header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 3.5rem;
}

.section__title {
  font-family: "Integral CF", sans-serif;
  font-weight: 700;
  font-size: 4.8rem;
  color: var(--color-text-black);
}

.section__actions {
  display: flex;
  align-items: center;
  justify-content: center;

  gap: 1rem;
}

.reviews {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;

  gap: 2rem;
}
