.wrapper {
  display: flex;
  color: var(--color-text-gray);

  gap: 2rem;
}

.sort {
  display: flex;
  gap: 0.5rem;
}

.list {
  color: var(--color-text-dark);
}

@media screen and (max-width: 810px) {
  .wrapper {
    flex-direction: column;
    gap: 0.25rem;
  }
}
