.row {
  display: flex;
  flex-direction: column;
  gap: 0.35rem;
}

.label {
  font-size: 1.6rem;
  font-weight: 400;
  letter-spacing: 0.5px;
}

.error {
  font-size: 1.4rem;
  font-weight: 500;
  color: var(--color-red);
}

.label,
.error {
  padding-left: 0.3rem;
}

.row input {
  display: inline-block;
  width: 100%;
  height: 100%;

  border: none;
  background-color: var(--color-bg-gray);

  padding: 0.8rem 1rem;
  border-radius: 4px;

  border: 2px solid transparent;

  transition: border-color 0.3s;
}

.row .inputWrapper input {
  padding-right: 3rem;
}

.row input::placeholder {
  color: var(--color-text-gray);
}

.row input:focus {
  outline: none;
  border-color: var(--color-gray-light);
}

.row input:not(:placeholder-shown) {
  border-color: var(--color-gray-light);
}
