.counters {
  display: flex;
  align-items: center;

  height: 6.9rem;

  margin-top: 5rem;
}

@media screen and (max-width: 1300px) {
  .counters {
    flex-wrap: wrap;
  }

  .counters > *:last-child {
    margin-top: 3.2rem;
  }
}

@media screen and (max-width: 900px) {
  .counters > *:last-child {
    margin-top: 0rem;
  }

  .counters {
    gap: 3rem;
  }
}
