.bottombar {
  display: flex;
  align-items: center;
  justify-content: space-between;

  gap: 40px;

  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: var(--color-bg-light);
}

.bottombar__left,
.bottombar__right {
  display: flex;
  align-items: center;

  gap: 40px;

  flex: 1;
}

.bottombar__left {
  justify-content: flex-start;
}

.bottombar__right {
  justify-content: flex-end;
}
