.bottombar {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: var(--color-bg-light);
}

.bottombar__left,
.bottombar__right {
  display: flex;
  align-items: center;

  gap: 4rem;

  flex: 1;
}

.bottombar__left {
  justify-content: flex-start;
}

.bottombar__right {
  justify-content: flex-end;
}

@media screen and (max-width: 1485px) {
  .bottombar {
    gap: 4rem;
  }

  .bottombar__left {
    flex: 1;
  }

  .bottombar__right {
    flex: 2;
  }
}

@media screen and (max-width: 1235px) {
  .bottombar__left {
    gap: 2rem;
  }

  .bottombar__right {
    gap: 2rem;
  }
}

@media screen and (max-width: 1070px) {
  .bottombar__right {
    gap: 1.4rem;
  }
}
