.topbar {
  background-color: var(--color-bg-dark);
  color: var(--color-text-white);

  width: 100%;
  height: 3.8rem;

  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
}

.topbar__text {
  font-size: 1.4rem;
  font-weight: 400;
}

.topbar__link:link,
.topbar__link:visited {
  display: inline-block;
  font-weight: 600;

  position: relative;
}

.topbar__link::after {
  content: "";

  position: absolute;
  bottom: -2px;
  left: 0;

  width: 100%;
  height: 2px;

  background-color: var(--color-text-white);
  transform: scaleX(0);

  transition: transform 0.3s ease-in-out;
  transform-origin: right;
}

.topbar__link:hover,
.topbar__link:active {
  color: var(--color-text-white);
}

.topbar__link:hover::after,
.topbar__link:active::after {
  transform: scaleX(1);
  transform-origin: left;
}

.topbar__button {
  background-color: transparent;
  border: none;
  cursor: pointer;

  width: 2rem;
  height: 2rem;

  position: absolute;

  right: 100px;
  top: 50%;

  transform: translateY(-50%);

  display: flex;
  align-items: center;
  justify-content: center;
}

.topbar__button path {
  fill: var(--color-text-white);

  transition: fill 0.3s;
}

.topbar__button:hover path {
  fill: var(--color-text-white-light);
}

.topbar__icon {
  width: 100%;
  height: 100%;
}
