.gallery {
  display: grid;
  grid-template-columns: 150px 450px;
  grid-template-rows: repeat(3, 160px);
  gap: 1.25rem;
}

.gallery__smallImage,
.gallery__bigImage {
  width: 100%;
  height: 100%;
}

.gallery__smallButton,
.gallery__bigButton {
  display: inline-block;

  width: 100%;
  height: 100%;
}

.gallery__big {
  grid-row: 1/-1;
  grid-column: 2/3;
}
