.gallery {
  display: grid;
  grid-template-columns: 150px 450px;
  grid-template-rows: repeat(3, 160px);
  gap: 1.25rem;
}

.gallery__smallImage,
.gallery__bigImage {
  width: 100%;
  height: 100%;

  filter: drop-shadow(0px 0px 2px transparent);

  transition: all 0.3s;

  border-radius: 20px;
  overflow: hidden;
}

.gallery__smallButton,
.gallery__bigButton {
  display: inline-block;

  width: 100%;
  height: 100%;
}

.gallery__big {
  grid-row: 1/-1;
  grid-column: 2/3;

  display: flex;
}

.activeImage {
  filter: drop-shadow(0px 0px 3px var(--color-text-gray));
}

@media screen and (max-width: 1220px) {
  .gallery {
    justify-content: center;
  }
}

@media screen and (max-width: 660px) {
  .gallery {
    grid-template-rows: 450px 150px;
    grid-template-columns: repeat(3, 1fr);
  }

  .gallery__big {
    grid-row: 1/2;
    grid-column: 1/-1;
  }
}

@media screen and (max-width: 465px) {
  .gallery {
    grid-template-columns: 350px;
    grid-template-rows: auto;
  }

  .gallery__smallButton {
    display: none;
  }

  .gallery__big {
    width: 100%;
    margin: 0;
  }

  .gallery__bigButton {
    width: 100%;
    height: auto;
  }

  .gallery__bigImage {
    width: 100%;
    height: auto;
    display: block;
    object-fit: contain;
  }
}

@media screen and (max-width: 400px) {
  .gallery {
    grid-template-columns: 300px;
  }
}

@media screen and (max-width: 350px) {
  .gallery {
    grid-template-columns: 260px;
  }
}
