.review {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  flex-basis: 40rem;

  padding: 2rem 3rem;

  width: 100%;
  height: 100%;

  border: 1px solid var(--color-gray-light);
  border-radius: 2rem;
}

.review__nameWrapper {
  display: flex;

  gap: 1rem;
}

.reivewTopWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;

  gap: 1.5rem;
}

.reivewTopWrapper time {
  font-size: 1.1rem;
  font-weight: 600;

  color: var(--color-text-gray-2);
}

.review__name {
  font-family: "Satoshi", sans-serif;
  font-weight: 600;
  font-size: 2rem;
  color: var(--color-text-black);
}

.review__description {
  font-family: "Satoshi", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  color: var(--color-text-gray);

  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  line-clamp: 4;
  overflow: hidden;
}

@media screen and (max-width: 670px) {
  .review {
    flex: 1;
  }
}
