.wrapper {
  display: grid;
  grid-template-columns: 450px 1fr;
  gap: 8rem;
}

.title {
  line-height: 100%;
  margin-bottom: 0.25rem;
}

.subText {
  font-size: 1.4rem;
  color: var(--color-text-gray);
  margin-bottom: 1rem;
}

.question {
  margin-top: 1rem;
  font-size: 1.4rem;

  color: var(--color-text-gray-2);

  text-align: center;
}

.question .link:link,
.question .link:visited {
  color: var(--color-text-dark);
  font-weight: 500;
  text-decoration: underline;
  text-underline-offset: 2px;

  transition: all 0.3s;
}

.question .link:hover,
.question .link:active,
.question .link:focus {
  color: var(--color-text-gray);
}
