.nav__item {
  display: inline-block;
  list-style: none;

  width: max-content;

  position: relative;
}

.nav__link:link,
.nav__link:visited {
  display: inline-block;
  text-decoration: none;
  color: var(--color-text-black);
  font-weight: 400;
  font-size: 1.4rem;

  position: relative;

  transition: color 0.3s;
}

.nav__link:hover,
.nav__link:active {
  color: var(--color-text-gray);
}

.nav__underline {
  position: absolute;
  bottom: -2px;
  left: 0;
  height: 2px;

  width: 100%;

  background-color: var(--color-bg-dark);
}

.nav__dropdown {
}
