.logo {
  font-family: "Integral CF", sans-serif;
  font-weight: 900;
  font-size: 32px;
  color: var(--color-text-black);

  line-height: 100%;

  width: max-content;

  position: relative;

  top: -4px;
}

@media screen and (max-width: 390px) {
  .logo {
    font-size: 26px;
    top: -3px;
  }
}
