.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 190px);
  grid-template-rows: repeat(3, 190px);

  gap: 1.5rem;
}

.box {
  box-shadow: 0 0px 12px 6px rgba(0, 0, 0, 0.07);
  border-radius: 12px;

  border: 3px solid var(--color-bg-dark);
}
