.galleryHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;

  margin-bottom: 2rem;
}

.galleryHeader h1 {
  font-size: 3.2rem;
  font-weight: 600;
}

.list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 5rem;
  column-gap: 2rem;
}

@media screen and (max-width: 1500px) {
  .list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 1170px) {
  .list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 940px) {
  .galleryHeader {
    align-items: flex-start;
    flex-direction: column;
    gap: 0.25rem;
  }
}

@media screen and (max-width: 875px) {
  .list {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 680px) {
  .gallery {
    width: 100%;
  }

  .list {
    grid-template-columns: repeat(2, 1fr);
  }

  .galleryHeader {
    align-items: flex-start;
    flex-direction: row;
    gap: 0.25rem;
  }
}

@media screen and (max-width: 680px) {
  .gallery {
    width: 100%;
  }

  .list {
    grid-template-columns: 1fr;
  }

  .galleryHeader {
    align-items: flex-start;
    flex-direction: column;
    gap: 0.25rem;
  }
}
