.socialmedias {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.socialmedias__item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.socialmedias__link {
  display: flex;
  align-items: center;
  justify-content: center;
}

.socialmedias__link:link,
.socialmedias__link:visited {
  width: 3rem;
  height: 3rem;

  border-radius: 50%;
  border: 1.5px solid var(--color-gray);

  background-color: var(--color-bg-light);

  transition: all 0.3s;
}

.socialmedias__link:hover,
.socialmedias__link:active {
  border: 1.5px solid var(--color-bg-dark);

  background-color: var(--color-bg-dark);
}

.icon {
  width: 1.5rem;
  height: 1.5rem;

  color: var(--color-bg-dark);

  transition: all 0.3s;
}

.socialmedias__link:hover .icon,
.socialmedias__link:active .icon {
  color: var(--color-bg-light);
}

.socialmedias__link:focus,
.socialmedias__link:focus-within {
  border: 1.5px solid var(--color-bg-dark);
  background-color: var(--color-bg-dark);
}

.socialmedias__link:focus .icon,
.socialmedias__link:focus-within .icon {
  color: var(--color-bg-light);
}
