.tabs {
  display: flex;
  align-items: center;

  margin-bottom: 4rem;
}

.tabs .tab {
  display: flex;
  align-items: center;
  justify-content: center;

  flex: 1;

  padding: 1.5rem 2rem;

  color: var(--color-text-gray);
  font-size: 2rem;
  font-weight: 400;

  cursor: pointer;

  outline: none;

  position: relative;

  border-bottom: 1.5px solid var(--color-gray-light);

  transition: color 0.3s;
}

.tab.tab__active {
  color: var(--color-text-black);
}

.underline {
  position: absolute;
  width: 100%;
  height: 2px;

  left: 0;
  bottom: 0;

  background-color: var(--color-bg-dark);
}

@media screen and (max-width: 405px) {
  .tabs .tab {
    font-size: 1.8rem;
    padding: 1.5rem 1rem;
  }
}
