.nav {
  flex-basis: max-content;
}

.nav__list {
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 1.25rem;
}

.nav__item {
  display: inline-block;
  list-style: none;

  width: max-content;
}

.nav__link:link,
.nav__link:visited {
  display: inline-block;
  text-decoration: none;
  color: var(--color-text-black);
  font-weight: 400;
  font-size: 1.4rem;

  position: relative;
}

.nav__link:hover,
.nav__link:active {
  color: var(--color-text-black);
}

.nav__underline {
  position: absolute;
  bottom: -2px;
  left: 0;
  height: 2px;

  width: 100%;

  background-color: var(--color-bg-dark);
}
