.button__openNav {
  width: 3.2rem;
  height: 3.2rem;

  position: relative;
}

.button__line_1,
.button__line_2,
.button__line_3 {
  position: absolute;

  width: 100%;
  height: 2px;

  background-color: var(--color-bg-dark);
  pointer-events: none;
}

.nav {
  position: absolute;
  top: 100%;
  left: 0;

  width: 100%;

  padding-top: 2rem;
  padding-bottom: 2rem;

  display: flex;

  background-color: var(--color-bg-light);

  border-bottom: 2px solid var(--color-gray-light);
}

.nav__list {
  display: flex;
  gap: 1.25rem;
  align-items: center;
  justify-content: space-between;

  width: 100%;
}

.nav__item {
  display: inline-block;
  list-style: none;

  width: max-content;
}

.nav__link:link,
.nav__link:visited {
  display: inline-block;
  text-decoration: none;
  color: var(--color-text-black);
  font-weight: 400;
  font-size: 1.6rem;

  position: relative;
  outline: none;

  transition: color 0.3s;
}

.nav__link:hover,
.nav__link:active,
.nav__link:focus,
.nav__link:focus-within {
  color: var(--color-text-gray);
}

.nav__underline {
  position: absolute;
  bottom: -2px;
  left: 0;
  height: 2px;

  width: 100%;

  background-color: var(--color-bg-dark);
}
