.filters {
  padding: 2.4rem 2rem;

  display: flex;
  flex-direction: column;

  gap: 1.5rem;

  border: 1.5px solid var(--color-bg-gray);
  border-radius: 2rem;
}

.filters_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.filters_header h2 {
  font-size: 2rem;
}

.filters_wrapper {
  display: flex;
  flex-direction: column;

  overflow: hidden;

  gap: 1.5rem;
}

.filter_button {
  display: none;
}

@media screen and (max-width: 680px) {
  .filters {
    width: 100%;
  }

  .filter_button {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
