.productContent {
  display: flex;
  flex-direction: column;
}

.productContent__title {
  font-family: "Integral CF", sans-serif;
  font-weight: 700;
  font-size: 4rem;
  color: var(--color-text-black);
}

.productContent__rating {
  display: flex;
  gap: 1rem;
  align-items: center;

  margin: 0.5rem 0 1rem;
}

.productContent__ratingText {
  font-size: 1.6rem;
  line-height: 100%;
}

.productContent__price {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.productContent__priceNew,
.productContent__priceOld {
  font-size: 3.2rem;
  font-weight: 600;
}

.productContent__priceOld {
  color: var(--color-text-white-light);
  text-decoration: line-through;
}

.productContent__description {
  font-size: 1.8rem;
  margin: 1rem 0 0;
  max-width: 75ch;
  color: var(--color-text-gray);
}

.productContent__discount {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-red);
  font-size: 1.3rem;
  font-weight: 500;
  border-radius: 1rem;
  padding: 0.25rem 0.75rem;
  background-color: var(--color-red-light);
}

@media screen and (max-width: 520px) {
  .productContent__title {
    font-size: 2.8rem;
  }
}
