.wrapper {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 2rem;
}

.loader {
  height: 8rem;
  width: 8rem;

  position: relative;
}

.loader__inner_1,
.loader__inner_2 {
  position: absolute;
  top: 50%;
  left: 50%;

  border-radius: 50%;
}

.loader__inner_1 {
  border-top: 10px solid var(--color-bg-dark);
  border-bottom: 10px solid var(--color-bg-dark);

  width: 100%;
  height: 100%;
}

.loader__inner_2 {
  border-left: 10px solid var(--color-bg-dark);
  border-right: 10px solid var(--color-bg-dark);

  width: 6rem;
  height: 4.5rem;
}

.loader_text {
  margin-top: 1rem;

  font-size: 2.8rem;
  font-weight: 600;
}
