:root {
  --color-bg-light: #fff;
  --color-bg-gray: #f0f0f0;
  --color-bg-dark: #000;

  --color-text-white: #fff;
  --color-text-white-light: #d3d3d3;
  --color-text-dark: #000;
  --color-text-gray: rgba(0, 0, 0, 0.6);
  --color-text-gray-2: rgba(0, 0, 0, 0.4);

  --color-gray-light: rgba(0, 0, 0, 0.102);
  --color-gray: rgba(0, 0, 0, 0.4);
  --color-red-light: #ff33331a;
  --color-red: #f33;
  --color-yellow: #ffc633;
  --color-green: #01ab31;

  --header-height: 120px;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  line-height: 1.5;
  text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;

  font-size: 62.5%;
}

html:focus-within {
  scroll-behavior: smooth;
}

body,
#root {
  min-height: 100dvh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: "Satoshi", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.6rem;

  background-color: var(--color-bg-light);
  color: var(--color-text-dark);

  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  padding-top: var(--header-height);
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

textarea {
  resize: vertical;
}

::selection {
  background-color: var(--color-bg-dark);
  color: var(--color-text-white);
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: var(--color-bg-light);
}

::-webkit-scrollbar-thumb {
  background: var(--color-bg-dark);
}

.container-padding {
  padding-inline: 11rem;
}

.container {
  max-width: 245rem;
  margin-inline: auto;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.range-slider {
  background-color: var(--color-bg-gray) !important;
}

.range-slider .range-slider__range {
  background-color: var(--color-bg-dark) !important;
}

.range-slider .range-slider__thumb {
  background-color: var(--color-bg-dark) !important;
}

@media screen and (max-width: 1400px) {
  .container-padding {
    padding-inline: 5rem;
  }
}

@media screen and (max-width: 720px) {
  .container-padding {
    padding-inline: 2.5rem;
  }
}
