.browseGallery__title {
  font-family: "Integral CF", sans-serif;
  font-weight: 700;
  font-size: 4.8rem;
  color: var(--color-text-black);
  line-height: 100%;

  text-align: center;
  margin-bottom: 8rem;
}

.browseGallery {
  background-color: var(--color-bg-gray);
  padding: 8rem 15rem;

  border-radius: 4rem;
}

.browseGallery__items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 290px);
  gap: 2rem;
}

.browseGallery__item {
  position: relative;

  border-radius: 2rem;
  overflow: hidden;

  background-repeat: no-repeat;
  background-size: cover;
}

.browseGallery__item:nth-child(1) {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.browseGallery__item:nth-child(2) {
  grid-column: 2 / -1;
  grid-row: 1 / 2;
}

.browseGallery__item:nth-child(3) {
  grid-column: 1 / 3;
  grid-row: 2 / 3;
}

.browseGallery__item:nth-child(4) {
  grid-column: 3 / -1;
  grid-row: 2 / 3;
}

.browseGallery__link {
  display: block;
  width: 100%;
  height: 100%;
}

.browseGallery__text {
  position: absolute;
  top: 20px;
  left: 30px;

  font-size: 3.6rem;
  font-weight: 600;
  color: var(--color-text-dark);
}

@media screen and (max-width: 1400px) {
  .browseGallery {
    padding: 8rem;
  }
}

@media screen and (max-width: 1030px) {
  .browseGallery {
    padding: 4rem;
  }
}

@media screen and (max-width: 850px) {
  .browseGallery__items {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 290px);
  }

  .browseGallery__item:nth-child(1) {
    grid-column: unset;
    grid-row: unset;
  }

  .browseGallery__item:nth-child(2) {
    grid-column: unset;
    grid-row: unset;
  }

  .browseGallery__item:nth-child(3) {
    grid-column: unset;
    grid-row: unset;
  }

  .browseGallery__item:nth-child(4) {
    grid-column: unset;
    grid-row: unset;
  }
}

@media screen and (max-width: 670px) {
  .browseGallery__title {
    font-size: 3.2rem;
    top: -2px;

    margin-bottom: 4rem;
  }

  .browseGallery {
    padding: 4rem;
  }
}

@media screen and (max-width: 420px) {
  .browseGallery__title {
    font-size: 2.8rem;
  }
}
