.browseGallery__title {
  font-family: "Integral CF", sans-serif;
  font-weight: 700;
  font-size: 4.8rem;
  color: var(--color-text-black);
  line-height: 100%;

  text-align: center;
  margin-bottom: 8rem;
}
