.searchResults {
  position: absolute;
  top: calc(100% + 10px);
  left: 0;
  width: 100%;

  background-color: var(--color-bg-light);

  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 0.8rem;

  height: 222px;
  overflow: scroll;
}

.searchResults__list {
  padding: 1rem 2rem;
}

.empty {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: calc(222px - 4rem);

  font-size: 2rem;

  text-align: center;
}

.query {
  font-weight: 600;
}
