.details {
  width: 100%;
}

.table {
  width: 100%;
  display: flex;
  flex-direction: row;

  border-collapse: collapse;
}

.table > * {
  flex: 1;
}

.table tr {
  width: 100%;
  display: block;

  padding: 1rem 1.5rem;

  border: 1px solid var(--color-gray-light);
}

.table tr:first-child {
  background-color: var(--color-bg-dark);
  color: var(--color-text-white);

  border: 1px solid var(--color-gray-light);
}

.table tr {
  background-color: var(--color-bg-light);
}

.table th {
  text-align: left;
  font-size: 1.8rem;
  font-weight: 600;

  width: 100%;
}
