.button {
  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;

  width: 2.4rem;
  height: 2.4rem;

  outline: none;

  transition: color 0.3s;
}

.button:hover,
.button:focus,
.button:active,
.button:focus-within {
  color: var(--color-text-gray);
}
