.container {
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper {
  max-width: 50rem;
  width: 100%;

  padding: 2rem;

  border: 12px groove var(--color-bg-dark);
}

.title {
  text-align: center;
  font-size: 5.2rem;
  font-weight: 600;

  line-height: 100%;

  text-transform: uppercase;
  letter-spacing: 2px;

  text-shadow: 2px 4px 0px var(--color-text-gray);
}

.message {
  text-align: center;

  font-size: 2rem;

  margin-top: 1rem;
}
