.container {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.title {
  font-size: 1.6rem;
  font-weight: 400;
  color: var(--color-text-gray);
}

.sizes {
  display: flex;
  gap: 2rem;
}

.size {
  display: flex;
  align-items: center;
  justify-content: center;
}

.size__label {
  width: 100%;
  height: 100%;

  cursor: pointer;

  position: relative;
}

.size__input {
  display: none;
}
