.button {
  cursor: pointer;

  background: none;
  border: none;
  outline: none;

  display: flex;
  align-items: center;
  justify-content: center;

  gap: 0.8rem;
}

.button__text__two {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
}

.button__text__wrapper {
  position: relative;

  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  overflow: hidden;
}

.primary {
  background-color: var(--color-bg-dark);
  color: var(--color-text-white);
  border: 2px solid var(--color-bg-dark);
  border-radius: 200rem;
}

.secondary {
  background-color: var(--color-bg-light);
  color: var(--color-text-dark);
  border: 2px solid var(--color-bg-light);
  border-radius: 200rem;
}

.normal {
  padding: 1.2rem 5.4rem;

  font-size: 1.6rem;
  font-weight: 500;
}

.big {
  padding: 1.2rem 5.4rem;

  font-size: 1.8rem;
  font-weight: 500;
}

.primary-outline {
  background-color: transparent;
  color: var(--color-text-dark);
  border: 2px solid var(--color-gray-light);
  border-radius: 200rem;
}
