.reviews__header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 2rem;
}

.title {
  font-size: 2.4rem;
  font-weight: 600;

  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.count {
  font-size: 1.4rem;
  font-weight: 400;
  color: var(--color-text-gray);

  height: 100%;

  align-self: flex-end;

  position: relative;

  top: -5px;
}

.reviews__list {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 2rem;
}

@media screen and (max-width: 1075px) {
  .reviews__list {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media screen and (max-width: 700px) {
  .reviews__list {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}

@media screen and (max-width: 480px) {
  .reviews__header {
    flex-direction: column;
    gap: 1rem;
  }
}
