.tab {
  width: 100%;

  display: flex;
  flex-direction: column;

  gap: 1rem;
}

.tab_button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;

  width: 100%;

  font-size: 2rem;
  font-weight: 600;
}
