.brands_section {
  background-color: var(--color-bg-dark);

  min-height: 12.2rem;

  padding: 2rem 0;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.brands {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;

  gap: 2.5rem;

  width: 100%;
}
