.brands_section {
  background-color: var(--color-bg-dark);

  min-height: 12.2rem;

  padding-top: 2rem;
  padding-bottom: 2rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.brands {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;

  gap: 2.5rem;

  width: 100%;
}
