.brands_section {
  background-color: var(--color-bg-dark);

  min-height: 12.2rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.brands {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
}
