.container {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  z-index: 1000000000;

  background-color: rgba(240, 240, 240, 0.9);
  backdrop-filter: blur(12px);

  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper {
  max-width: 50rem;
  width: 100%;

  padding: 2rem;

  border: 12px groove var(--color-bg-dark);
}

.title {
  text-align: center;
  font-size: 5.2rem;
  font-weight: 600;

  line-height: 100%;

  text-transform: uppercase;
  letter-spacing: 2px;

  text-shadow: 2px 4px 0px var(--color-text-gray);
}

.message {
  text-align: center;

  font-size: 2rem;

  margin-top: 1rem;
  margin-bottom: 1.5rem;
}

.button_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
