.productsCTA {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  gap: 2rem;
}

.productsCTA > div {
  width: 18rem;
}

.productsCTA > button {
  flex: 1;
}

.notify {
  font-size: 1.4rem;
  font-weight: 500;
  color: var(--color-text-gray);

  margin-top: 1rem;
}

@media screen and (max-width: 480px) {
  .productsCTA {
    flex-direction: column;
  }

  .productsCTA > div {
    width: 100%;
  }

  .productsCTA > button {
    width: 100% !important;
  }
}
