.productsShowcase {
  padding-top: 8rem;
  padding-bottom: 8rem;
}

.productsShowcase__title {
  font-family: "Integral CF", sans-serif;
  font-weight: 700;
  font-size: 4.8rem;
  color: var(--color-text-black);
  line-height: 100%;

  text-align: center;
  margin-bottom: 8rem;
}

.productsShowcase__items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;

  flex-wrap: nowrap;
  overflow: hidden;
}

.productsShowcase__item {
  display: flex;
  align-items: center;
  justify-content: center;

  flex-basis: 29.5rem;
  flex-shrink: 0;
}

.productsShowcase__link {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  width: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.content__title {
  font-family: "Satoshi", sans-serif;
  font-size: 2rem;
  color: var(--color-text-black);
  font-weight: 600;
}

.content__rating {
  display: flex;
  gap: 1.5rem;
  align-items: center;
  font-family: "Satoshi", sans-serif;
  font-size: 1.4rem;
}

.content__price {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.content__price__current {
  font-family: "Satoshi", sans-serif;
  font-size: 2.4rem;
  color: var(--color-text-black);
  font-weight: 600;
}

.content__price__original {
  font-family: "Satoshi", sans-serif;
  font-size: 2.4rem;
  font-weight: 600;
  color: var(--color-text-gray);
  text-decoration: line-through;
}

.content__price__discount {
  display: flex;
  align-items: center;
  justify-content: center;

  color: var(--color-red);
  font-size: 1.3rem;
  font-weight: 500;

  border-radius: 1rem;
  padding: 0.25rem 0.75rem;

  background-color: var(--color-red-light);
}

.productsShowcase__button {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-top: 5rem;
}
