.productsShowcase {
  padding-top: 8rem;
  padding-bottom: 8rem;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  gap: 2rem;

  margin-bottom: 8rem;
}

.productsShowcase__title {
  font-family: "Integral CF", sans-serif;
  font-weight: 700;
  font-size: 4.8rem;
  color: var(--color-text-black);
  line-height: 100%;

  text-align: center;
  width: 100%;

  position: relative;
  top: -5px;
}

.productsShowcase__items {
  display: flex;
  justify-content: space-between;
  gap: 2rem;

  flex-wrap: nowrap;
  overflow: hidden;
}

.productsShowcase__button {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-top: 5rem;
}

.product_item {
  padding: 0;
}

@media screen and (max-width: 820px) {
  .productsShowcase__items {
    justify-content: center;
  }
}

@media screen and (max-width: 670px) {
  .productsShowcase__title {
    font-size: 3.2rem;
    top: -2px;
  }

  .header__container {
    margin-bottom: 4rem;
  }
}

@media screen and (max-width: 420px) {
  .productsShowcase__title {
    font-size: 2.8rem;
  }
}
