.shopSection {
  margin-top: 2rem;
  margin-bottom: 8rem;

  display: flex;
  flex-direction: column;

  gap: 2.5rem;
}

.contentWrapper {
  display: flex;
  gap: 2rem;
  align-items: flex-start;
}

.contentWrapper > *:first-child {
  flex-basis: 32.5rem;
  flex-shrink: 0;
  flex-grow: 0;
}

.contentWrapper > *:last-child {
  flex: 1;
}

@media screen and (max-width: 1040px) {
  .contentWrapper > *:first-child {
    flex-basis: 28.5rem;
    flex-shrink: 0;
    flex-grow: 0;
  }
}

@media screen and (max-width: 680px) {
  .contentWrapper {
    flex-direction: column;
  }

  .contentWrapper > *:first-child {
    flex: 1;
  }

  .contentWrapper > *:last-child {
    flex: 1;
  }
}
