.cartItem {
  display: grid;
  grid-template-columns: 15rem 1fr 20rem;
  gap: 2rem;
}

.cartItem__content {
  display: flex;
  flex-direction: column;
}

.cartItem__name {
  font-size: 2rem;
  font-weight: 600;

  margin-bottom: 0.25rem;
}

.cartItem__size span:first-child,
.cartItem__color span:first-child {
  font-size: 1.8rem;

  margin-right: 6px;
}

.cartItem__size span:last-child,
.cartItem__color span:last-child {
  font-size: 1.8rem;
  color: var(--color-text-gray);
}

.cartItem__price {
  margin-top: auto;

  font-size: 2.4rem;
  font-weight: 600;

  margin-bottom: 0.25rem;
}

.cartItem__cta {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: space-between;
}

.cartItem__remove {
  align-self: flex-end;
  margin-right: 0.15rem;

  color: var(--color-red);

  transition: all 0.3s;
}

.cartItem__remove:hover,
.cartItem__remove:focus,
.cartItem__remove:active {
  color: var(--color-text-dark);
}

@media screen and (max-width: 800px) {
  .cartItem {
    grid-template-columns: 150px 1fr;
  }

  .cartItem__cta {
    flex-direction: row-reverse;

    grid-column: 1/-1;
  }

  .cartItem__remove {
    align-self: center;
    margin-right: 0;
  }
}
