.separator {
  width: 2px;
  height: 100%;

  background-color: var(--color-gray-light);

  margin-inline: 3.2rem;
}

.separator__section {
  width: 100%;
  height: 2px;

  background-color: var(--color-gray-light);
}

.footer__separator {
  width: 100%;
  height: 1px;
  background-color: var(--color-gray-light);

  margin: 4rem 0 2rem;
}
