.separator__vertical {
  width: 2px;
  height: 5rem;

  background-color: var(--color-gray-light);

  margin-inline: 3.2rem;
}

.separator__section {
  width: 100%;
  height: 2px;

  background-color: var(--color-gray-light);
}

.separator__section__product {
  width: 100%;
  height: 2px;

  background-color: var(--color-gray-light);
  margin: 1.5rem 0;
}

.footer__separator {
  width: 100%;
  height: 1px;
  background-color: var(--color-gray-light);

  margin: 4rem 0 2rem;
}

@media screen and (max-width: 900px) {
  .separator__vertical {
    display: none;
  }
}
