.section_cart {
  margin-top: 2rem;
  margin-bottom: 8rem;
}

.cart__title {
  font-size: 4rem;
  font-family: "Integral CF", sans-serif;
  font-weight: 500;
  margin: 1rem 0 2rem;
}

.cart {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 3rem;

  align-items: start;
}

.cart__list {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  border: 1px solid var(--color-bg-gray);
  border-radius: 2rem;
  padding: 2.5rem;
}

.cart__list > li {
  padding-top: 2rem;
  border-top: 1px solid var(--color-bg-gray);
}

.cart__list > li:first-child {
  padding-top: 0 !important;
  border-top: none !important;
}

@media screen and (max-width: 1200px) {
  .cart {
    grid-template-columns: 1fr;
  }
}
