.section_cart {
  margin-top: 2rem;
  margin-bottom: 8rem;
}

.cart__title {
  font-size: 4rem;
  font-family: "Integral CF", sans-serif;
  font-weight: 500;
  margin: 1rem 0 2rem;
}

.cart {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 3rem;
}

.cart__list {
  display: flex;
  flex-direction: column;
}
