.hero {
  min-height: 50rem;
  height: calc(100dvh - var(--header-height));

  background-image: url("/src/assets/images/backgrounds/heroBg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  justify-content: flex-start;
  align-items: center;

  padding-top: 4rem;
  padding-bottom: 4rem;
}

.hero__content {
  max-width: 60rem;
  width: 100%;
}

.hero__title {
  font-family: "Integral CF", sans-serif;
  font-weight: 700;
  font-size: 6.4rem;
  color: var(--color-text-black);
  line-height: 1.1;

  margin-bottom: 2.5rem;
}

.hero__description {
  font-size: 1.6rem;
  color: var(--color-text-gray);

  margin-bottom: 2.5rem;
}

@media screen and (max-width: 1300px) {
  .hero {
    align-items: flex-start;
  }

  .hero__content {
    max-width: 50rem;
  }

  .hero__title {
    font-size: 3.6rem;
  }
}

@media screen and (max-width: 550px) {
  .hero {
    min-height: 60rem;
  }
}

@media screen and (max-width: 385px) {
  .hero {
    min-height: 80rem;
  }
}
