.hero {
  height: calc(100dvh - var(--header-height));

  background-image: url("/src/assets/images/backgrounds/heroBg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero__content {
  max-width: 60rem;
  width: 100%;
}
