.color {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 4rem;
  height: 4rem;

  border-radius: 50%;

  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
}

.color__label {
  width: 100%;
  height: 100%;

  border-radius: 50%;

  cursor: pointer;

  position: relative;
}

.color__input {
  display: none;
}

.icon {
  color: var(--color-text-white);
  position: absolute;

  top: 50%;
  left: 50%;
}

.icon svg {
  width: 1.6rem;
  height: 1.6rem;

  filter: drop-shadow(0px 0px 1px rgba(0, 0, 0, 0.8));
}
