.productShowcase {
  display: grid;
  grid-template-columns: max-content 1fr;
  gap: 4rem;
}

.productShowcase > *:first-child {
  grid-column: 1/-1;
}

@media screen and (max-width: 1220px) {
  .productShowcase {
    grid-template-columns: 1fr;
  }

  .productShowcase > *:nth-child(2) {
    order: 2;
  }
}
