.title {
  font-size: 1.6rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  justify-content: space-between;
}

.link:link,
.link:visited {
  color: var(--color-text-gray);

  position: relative;

  outline: none;
}

.link::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  background-color: var(--color-text-gray);
  top: 100%;
  left: 0;

  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.3s;
}

.link:hover::after,
.link:focus::after,
.link:active::after,
.link:focus-within::after {
  transform-origin: left;
  transform: scaleX(1);
}
