.footer {
  position: relative;

  width: 100%;

  background-color: var(--color-bg-gray);

  margin-top: 8rem;
  padding-bottom: 4rem;
}

.footer__separator {
  height: 40px;
  width: 100%;
}

.footer__col {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;

  width: max-content;
}

.footer__text {
  max-width: 25rem;

  font-size: 1.4rem;
  font-weight: 400;

  color: var(--color-text-gray);
}

.footer__content {
  padding-top: 13rem;

  display: grid;
  grid-template-columns: repeat(5, 1fr);

  gap: 4rem;
}

.footer__copyright {
  font-size: 1.4rem;
  color: var(--color-text-gray);
}
