.footer {
  position: relative;

  width: 100%;

  background-color: var(--color-bg-gray);

  margin-top: 8rem;
}

.footer__separator {
  height: 40px;
  width: 100%;
}

.footer__content {
  padding-top: 13rem;
}

.footer__col1 {
  display: flex;
  flex-direction: column;

  gap: 2.5rem;
}

.footer__text {
  max-width: 25rem;

  font-size: 1.4rem;
  font-weight: 400;

  color: var(--color-text-gray);
}
