.footer {
  position: relative;

  width: 100%;

  background-color: var(--color-bg-gray);

  margin-top: 8rem;
}

.footer__separator {
  height: 40px;
  width: 100%;
}

.footer__content {
  padding-top: 13rem;
}
