.counters__item {
  display: flex;
  flex-direction: column-reverse;

  gap: 0.5rem;

  height: 100%;
}

.counters__title {
  font-size: 1.6rem;
  font-weight: 400;

  color: var(--color-text-gray);
}

.counters__number {
  font-size: 4rem;
  font-weight: 600;

  line-height: 100%;
}

@media screen and (max-width: 1300px) {
  .counters__number {
    font-size: 3.6rem;
  }
}

@media screen and (max-width: 385px) {
  .counters__item {
    gap: 0.25rem;
  }

  .counters__number {
    font-size: 3rem;
  }
}
