.newsletter {
  background-color: var(--color-bg-dark);
  padding: 3.5rem 6rem;

  border-radius: 2rem;

  position: relative;

  top: -80px;

  display: grid;
  grid-template-columns: repeat(2, 1fr);

  max-width: 124rem;
  margin: 0 auto;
}

.newsletter__title {
  font-size: 4rem;
  font-family: "Integral CF", sans-serif;
  font-weight: 700;
  line-height: 1.2;

  color: var(--color-text-white);
}

.newsletter__form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;

  gap: 2rem;
}
