.newsletter {
  background-color: var(--color-bg-dark);
  padding: 3.5rem 6rem;

  border-radius: 2rem;

  position: absolute;

  top: -93.25px;
  left: 50%;

  transform: translateX(-50%);

  display: grid;
  grid-template-columns: 1fr 300px;
  column-gap: 2.5rem;

  align-items: center;

  max-width: 124rem;
  width: 100%;
}

.newsletter button {
  width: 100%;
}

.newsletter__title {
  font-size: 4rem;
  font-family: "Integral CF", sans-serif;
  font-weight: 700;
  line-height: 1.2;

  color: var(--color-text-white);
}

.newsletter__form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;

  gap: 1.25rem;

  max-width: 35rem;
  width: 100%;

  margin-left: auto;
}

.newsletter__inputWrapper {
  position: relative;

  width: 100%;
}

.newsletter__input {
  width: 100%;
  outline: none;

  border-radius: 6.2rem;
  padding: 1.2rem 1.6rem;

  padding-left: 5rem;

  font-size: 1.6rem;
  font-weight: 400;
  font-family: "Satoshi", sans-serif;

  border: 2px solid transparent;

  transition: border-color 0.3s;
}

.newsletter__input::placeholder {
  color: var(--color-text-gray);
}

.newsletter__input:focus {
  outline: none;
  border-color: var(--color-bg-gray);
}

.newsletter__input:not(:placeholder-shown) {
  border-color: var(--color-bg-gray);
}

.newsletter__icon {
  position: absolute;

  top: 50%;
  left: 20px;

  transform: translateY(-50%);
}

@media screen and (max-width: 1110px) {
  .newsletter__title {
    font-size: 3.5rem;
  }
}

@media screen and (max-width: 890px) {
  .newsletter {
    grid-template-columns: 1fr;
    row-gap: 4rem;

    top: -155.25px;
  }

  .newsletter__title {
    text-align: center;
  }

  .newsletter__form {
    margin-inline: auto;
  }
}

@media screen and (max-width: 670px) {
  .newsletter {
    padding: 3.5rem;
  }
}

@media screen and (max-width: 620px) {
  .newsletter__title {
    font-size: 2.8rem;
  }
}

@media screen and (max-width: 520px) {
  .newsletter__title {
    font-size: 2.4rem;
  }
}

@media screen and (max-width: 460px) {
  .newsletter__title {
    font-size: 2.8rem;
  }

  .newsletter {
    border-radius: 0;

    padding: 4rem 2rem;
  }
}
