.newsletter {
  background-color: var(--color-bg-dark);
  padding: 3.5rem 6rem;

  border-radius: 2rem;

  position: absolute;

  top: -93.25px;
  left: 50%;

  transform: translateX(-50%);

  display: grid;
  grid-template-columns: repeat(2, 1fr);

  align-items: center;

  max-width: 124rem;
  width: 100%;
}

.newsletter button {
  width: 100%;
}

.newsletter__title {
  font-size: 4rem;
  font-family: "Integral CF", sans-serif;
  font-weight: 700;
  line-height: 1.2;

  color: var(--color-text-white);
}

.newsletter__form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;

  gap: 1.25rem;

  max-width: 35rem;
  width: 100%;

  margin-left: auto;
}

.newsletter__inputWrapper {
  position: relative;

  width: 100%;
}

.newsletter__input {
  width: 100%;
  outline: none;

  border-radius: 6.2rem;
  padding: 1.2rem 1.6rem;

  padding-left: 5rem;

  font-size: 1.6rem;
  font-weight: 400;
  font-family: "Satoshi", sans-serif;

  border: 2px solid transparent;

  transition: border-color 0.3s;
}

.newsletter__input::placeholder {
  color: var(--color-text-gray);
}

.newsletter__input:focus {
  outline: none;
  border-color: var(--color-bg-gray);
}

.newsletter__input:not(:placeholder-shown) {
  border-color: var(--color-bg-gray);
}

.newsletter__icon {
  position: absolute;

  top: 50%;
  left: 20px;

  transform: translateY(-50%);
}
