.left {
  transform: rotate(0deg);
}

.right {
  transform: rotate(180deg);
}

.top {
  transform: rotate(90deg);
}

.bottom {
  transform: rotate(270deg);
}

.button__arrow__products {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: transparent;
  cursor: pointer;

  width: 4.8rem;
  height: 4.8rem;

  border: 2px solid var(--color-gray);
  border-radius: 50%;

  flex-shrink: 0;
}

.button {
  opacity: 1;

  transition: all 0.3s;
}

.button:disabled {
  opacity: 0.7;
}

.button__reviews {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: transparent;
  cursor: pointer;

  width: 4.8rem;
  height: 4.8rem;

  border-radius: 50%;
}

@media screen and (max-width: 670px) {
  .button__arrow__products {
    width: 3.6rem;
    height: 3.6rem;
  }

  .button__reviews {
    width: 3.6rem;
    height: 3.6rem;
  }
}
